{% extends 'base.html.twig' %}

{% block title %}
    Forgot your password
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}



{% block body %}
    <div class="container form-signin mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
                        {% include 'profile/emailToResetForm.html.twig' %}

                        <button class="btn btn-warning">Reset password</button>
                        {{ form_end(emailToResetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}