{% extends 'content_base.html.twig' %}

{% block manager_name %}
    Add an article
{% endblock %}

{% block content_body %}
    <h1>Add an article</h1>
    <div class="row">
        <div class="col-sm-12">
            {% include 'article_admin/articleForm.html.twig' %}
            <button type="submit" class="btn btn-success addImage">Add an image</button>
            <button type="submit" class="btn btn-success">Add</button>
            {{ form_end(articleForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            // recupere prototype html créer par symfony
            var $container = $('#article_images');

            // recuprere le nombre d'input keyword
            var index = $container.find(':input').length;

            $container.find('label.required').remove();

            // si 0 input Keyword ajoute 1
            if(index == 0) {
                addImage($container);
            }

            // Event click pout ajouter un input keyword
            $('.addImage').click(function(e) {
                e.preventDefault();

                addImage($container);
            });

            // creer l'input keyword pour l'index courant et l'ajoute dans la div id="car_keywords" avec la méthode append
            function addImage($container) {

                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Image n°' + (index + 1))
                    .replace(/__name__/g, index)
                ;

                var $prototype = $(template);

                $container.append($prototype);

                index++;
            }
        });

    </script>
{% endblock %}