{% extends 'base.html.twig' %}

{% block title %}
    Token expired
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}



{% block body %}
    <div class="container form-signin mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="h3 mb-3 font-weight-normal">Is too late!</h1>
                        <p>This not is not valid</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}